body {
  background-color: blue;
  border: 10px blue;
}

.heading {
  text-align: center;
  font-family: calibri;
}

img {
  margin: auto;
  display: block;
}

.program {
  font-family: calibri;
  text-align: center;
  text-decoration: underline;
}

.description {
  font-family: calibri;
}

