body {
  background-color: white;
}

.blue {
  color: blue;
  border: 5px solid blue;
}

.red {
  color: red;
  border: 5px solid red;
}
    
.green {
  color: green;
  border: 5px solid green;  
}
 
 h1 {
   color: gray;
  border: 5px solid blue;
}
