body {
  background: linear-gradient(
  to bottom,
  #000000,
  #0000ff
);
  font-size: 25px;
}

img {
  width: 300px;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.paragraph1 {
  color:#ceb814;
}
.paragraph2{
  color:#ed106c;
}
.paragraph3 {
  color:#00f708;
}
.paragraph4 {
  color:#87ffe9
}
